@import 'bootstrap';
@import 'bootstrap/theme';

.index {
  text-align: center;
}

.index h5 {
  padding-top: 20px;
}

.index btn {
  padding-top: 10px;
}

.index-sign-up {
  padding-top: 20px;
}

.index-sign-in {
  padding-top: 20px;
}
