@import 'bootstrap';
@import 'bootstrap/theme';

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding-left: 25px;
}

.container-fluid {
  padding: 0;
}

.index {
  background-image: url("https://s3.amazonaws.com/jamrs-bucket/books-education-school-literature-48126.jpeg");
  background-size: cover;
  background-position: center center;
  min-height: 675px;
  text-align: center;
}

.index-content {
  padding-top: 10%;
}

.index h5 {
  padding-top: 20px;
}

.index btn {
  padding-top: 10px;
}

.index-sign-up {
  padding-top: 20px;
}

.index-sign-in {
  padding-top: 20px;
}

.index a {
  color: white;
}

.greeting {
  padding: 20px;
}

.landing-page {
  text-align: center;
}

.landing-link {
  padding: 30px;
}

.page-title {
  text-align: center;
}

.prompt-snippet-container {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.evaluation-container {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.average-scores p {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid dodgerblue;
  border-radius: 10px;
  padding: 10px;
}

.return-button {
  clear: both;
}
