<div class="col-md-8 col-md-offset-2">
  <h3 class="page-title">Your Responses</h3>

  {{#each model.promptResponse as |eachPromptResponse|}}
    {{prompt-response-snippet promptResponse=eachPromptResponse}}
  {{/each}}

  {{return-button}}
</div>
