<div class="col-md-12 index">
  <div class="col-md-6">
    <h1>Welcome to Promptr!</h1>
    <h5>Promptr is a simple, easy-to-use teacher tool for assigning, collecting, and evaluating writing assignments.</h5>
    <div class="col-md-6 index-sign-up">
      <h3>New Here?</h3>
      <button type="button" class="btn btn-primary sign-up-btn">{{#link-to "sign-up"}}Sign Up{{/link-to}}</button>
    </div>
    <div class="col-md-6 index-sign-in">
      <h3>Have an Account?</h3>
      <button type="button" class="btn btn-success sign-in-btn">{{#link-to "sign-in"}}Sign In{{/link-to}}</button>
    </div>
  </div>
</div>

{{outlet}}
