<div class="index">
  <h1>Welcome to Promptr!</h1>
  <h5>Promptr is a simple, easy-to-use teacher tool for assigning, collecting, and evaluating writing assignments.</h5>
  <div class="col-md-2 col-md-offset-2 index-sign-up">
    <h3>New Here?</h3>
    <button type="button" class="btn btn-primary">{{#link-to "sign-up"}}Sign Up{{/link-to}}</button>
  </div>
  <div class="col-md-2 col-md-offset-4 index-sign-in">
    <h3>Have an Account?</h3>
    <button type="button" class="btn btn-success">{{#link-to "sign-in"}}Sign In{{/link-to}}</button>
  </div>
</div>

{{outlet}}
