<div class="index">
  <h1>Welcome to Promptr!</h1>
  <h5>Promptr is a simple, easy-to-use teacher tool for assigning, collecting, and evaluating writing assignments.</h5>

  <h3>New Here?</h3>
  <button type="button" class="btn btn-primary">Sign Up</button>

  <h3>Already have a Teacher or Student Account?</h3>
  <button type="button" class="btn btn-success">Sign In</button>
</div>

{{outlet}}
