<div class="col-md-8 col-md-offset-2">
  <h2>My Evaluations</h2>
  {{#each model.evaluation as |eachEvaluation|}}
    {{evaluation-snippet evaluation=eachEvaluation}}
  {{/each}}

  {{return-button}}
</div>
