<div class="col-md-8 col-md-offset-2">
  <h3 class="page-title">Prompts</h3>
  {{#each model.prompt as |eachPrompt|}}
    {{prompt-snippet prompt=eachPrompt
                      updatePrompt='updatePrompt'
                      destroyPrompt='destroyPrompt'
                      createPromptResponse='createPromptResponse'
                      createEvaluation='createEvaluation'}}
  {{/each}}

  {{return-button}}
</div>
