{{landing-greeting}}
<h5>{{#link-to "prompts"}}Prompts{{/link-to}}</h5>
<h5>{{#link-to "student-prompt-responses"}}My Responses{{/link-to}}</h5>
<h5>{{#link-to "student-evaluations"}}My Evaluations{{/link-to}}</h5>
