<h3 class="page-title">Make a Prompt!</h3>
<div class="create-prompt-form">
  <p>{{input placeholder='Title' value=form.title}}</p>
  <p>{{input placeholder='Text' value=form.text}}</p>
  <button class="btn btn-success" {{action 'createPrompt'}}> Submit </button>
</div>
