<h4> Make a Prompt! </h4>
<div>
  {{input placeholder='Title' value=form.title}}
  {{input placeholder='Text' value=form.text}}
</div>
<button class="btn btn-success" {{action 'createPrompt'}}> Submit </button>
