<div class="return-button">
  {{#if isTeacher}}
  <h5>{{#link-to "teacher-landing"}}Back to Teacher{{/link-to}}</h5>
  {{else}}
  <h5>{{#link-to "student-landing"}}Back to Student{{/link-to}}</h5>
  {{/if}}
</div>
