<div class="col-md-8 col-md-offset-2 landing-page">
  {{landing-greeting}}
  <div class="col-md-4 landing-link create-prompt-link">
    <i class="fa fa-pencil fa-5x" aria-hidden="true"></i>
    <h4>{{#link-to "create-prompt"}}Create A Prompt{{/link-to}}</h4>
  </div>
  <div class="col-md-4 landing-link list-prompts-link">
    <i class="fa fa-book fa-5x" aria-hidden="true"></i>
    <h4>{{#link-to "prompts"}}My Prompts{{/link-to}}</h4>
  </div>
  <div class="col-md-4 landing-link teacher-evaluations-link">
    <i class="fa fa-tachometer fa-5x" aria-hidden="true"></i>
    <h4>{{#link-to "teacher-evaluations"}}My Evaluations{{/link-to}}</h4>
  </div>
</div>
