{{landing-greeting}}
<h5>{{#link-to "create-prompt"}}Create A Prompt{{/link-to}}</h5>
<h5>{{#link-to "prompts"}}My Prompts{{/link-to}}</h5>
<h5>{{#link-to "teacher-evaluations"}}My Evaluations{{/link-to}}</h5>
